<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Password Confirm{% endblock %}</title>
    {% block style %}
        <link href="{% static "sass/registration.css" %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block content %}
    {% if validlink %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron jumbotron4">
                        <a id="close4" href="{% url "index" %}"><i class="fas fa-times"></i></a>
                        <form class="confirm" method="POST">
                            {% csrf_token %}
                            <h4>Password confirmation</h4>
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <p class="field">{{ form.new_password1 }}</p>
                            {% if form.new_password1.errors %}
                                {% for error in form.new_password1.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <p class="field">{{ form.new_password2 }}</p>
                            {% if form.new_password2.errors %}
                                {% for error in form.new_password2.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <button class="btn btn-default" type="submit">Submit</button>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron jumbotron4">
                        <a id="close4" href="{% url "index" %}"><i class="fas fa-times"></i></a>
                        <p id="invalid">
                            The password reset link was invalid, possibly because it has already been used.
                            Please request a new <a id="new-link" href="{% url "password_reset" %}">password reset</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
</body>
</html>