<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <div id="done">
    <a id="std-reg3" href="{% url "login" %}"><i class="fas fa-times"></i></a>
         <h3 id="email-done">E-MAIL SENT</h3>
        <p id="done-text">
            We have emailed you instructions for recovering your password.<br>
             Please make sure you've entered the e-mail address you registered with.
        </p>
    </div>
{% endblock %}
</body>
</html>