<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}E-mail Sent{% endblock %}</title>
    {% block style %}
        <link href="{% static "sass/registration.css" %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron3">
                    <a id="close3" href="{% url "index" %}"><i class="fas fa-times"></i></a>
                    <h4>E-mail sent</h4>
                    <p id="done-text">
                        We have emailed you instructions for recovering your password.<br>
                        Please make sure you've entered the e-mail address you registered with.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
