<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Reset Complete{% endblock %}</title>
    {% block style %}
        <link href="{% static "sass/registration.css" %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron4">
                    <a id="close4" href="{% url "index" %}"><i class="fas fa-times"></i></a>
                    <p id="invalid">
                        Operation was completed successfully. Your password has been reset. You may now go ahead and
                        <a id="new-link" href="{% url 'login' %}">log in</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>