<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Password Reset{% endblock %}</title>
    {% block style %}
        <link href="{% static "sass/registration.css" %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron2">
                    <a id="close2" href="{% url "index" %}"><i class="fas fa-times"></i></a>
                    <form class="reset" method="POST">
                        {% csrf_token %}
                        <h4>Password reset</h4>
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <p class="field">{{ form.email }}</p>
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <button class="btn btn-default" type="submit">Submit</button>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>