<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}E-mail Sent{% endblock %}</title>
    {% block style %}
        <link href="{% static "sass/registration.css" %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron6">
                    <a id="close6" href="{% url "index" %}"><i class="fas fa-times"></i></a>
                    <form class="profile-edit" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h4>Profile edit</h4>
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if user.is_student %}
                            <p class="field">{{ form.name }}</p>
                            {% if form.name.errors %}
                                {% for error in form.name.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <p class="field">{{ form.surname }}</p>
                            {% if form.surname.errors %}
                                {% for error in form.surname.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <p class="field">{{ form.email }}</p>
                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <p class="field">{{ form.phone }}</p>
                            {% if form.phone.errors %}
                                {% for error in form.phone.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <p class="field">
                                <label id="file" for="file-upload" class="custom-file-upload">
                                    <i class="fas fa-cloud-upload-alt"></i> Profile Photo
                                </label><br>
                                <span id="file-selected"></span>
                                <input id="file-upload" name='photo' type="file" style="display: none"></p>
                            {% if form.photo.errors %}
                                {% for error in form.photo.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}

                        {% elif user.is_teacher %}

                            <p class="field">{{ form.academic_title }}</p>
                            {% if form.academic_title.errors %}
                                {% for error in form.academic_title.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <p class="field">{{ form.name }}</p>
                            {% if form.name.errors %}
                                {% for error in form.name.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <p class="field">{{ form.surname }}</p>
                            {% if form.surname.errors %}
                                {% for error in form.surname.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <p class="field">{{ form.email }}</p>
                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <p class="field">{{ form.phone }}</p>
                            {% if form.phone.errors %}
                                {% for error in form.phone.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <p class="field">
                                <label id="file" for="file-upload" class="custom-file-upload">
                                    <i class="fas fa-cloud-upload-alt"></i> Profile Photo
                                </label><br>
                                <span id="file-selected"></span>
                                <input id="file-upload" name='photo' type="file" style="display: none"></p>
                            {% if form.photo.errors %}
                                {% for error in form.photo.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                <button class="btn btn-default" type="submit">Save</button>
                            <br>
                            </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#file-upload').bind('change', function () {
            var fileName = '';
            fileName = $(this).val();
            $('#file-selected').html('New profile picture selected.');
        });
    </script>
{% endblock %}
</body>
</html>