<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Student Sign Up{% endblock %}</title>
    {% block style %}
        <link href="{% static "sass/registration.css" %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron5">
                    <a id="close5" href="{% url "index" %}"><i class="fas fa-times"></i></a>
                    <form class="student-signup" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h4>Student sign up</h4>
                        {% if form1.non_field_errors %}
                            {% for error in form1.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="row">
                            <div class="col-md-6">
                                <p class="field">{{ form1.username }}</p>
                                {% if form1.username.errors %}
                                    {% for error in form1.username.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <p class="field">{{ form1.password }}</p>
                                {% if form1.password.errors %}
                                    {% for error in form1.password.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <p class="field">{{ form1.confirm_password }}</p>
                                {% if form1.confirm_password.errors %}
                                    {% for error in form1.confirm_password.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <p class="field">{{ form2.student_ID }}</p>
                                {% if form2.student_ID.errors %}
                                    {% for error in form2.student_ID.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <p class="field">
                                    <label id="file" for="file-upload" class="custom-file-upload">
                                        <i class="fas fa-cloud-upload-alt"></i> Profile Photo
                                    </label><br>
                                    <span id="file-selected"></span>
                                    <input id="file-upload" name='student-photo' type="file" style="display: none"></p>
                                {% if form2.photo.errors %}
                                    {% for error in form2.photo.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <p class="field">{{ form2.name }}</p>
                                {% if form2.name.errors %}
                                    {% for error in form2.name.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <p class="field">{{ form2.surname }}</p>
                                {% if form2.surname.errors %}
                                    {% for error in form2.surname.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <p class="field">{{ form2.email }}</p>
                                {% if form2.email.errors %}
                                    {% for error in form2.email.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <p class="field">{{ form2.phone }}</p>
                                {% if form2.phone.errors %}
                                    {% for error in form2.phone.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <p class="field"><a href="{% url "teacher_signup" %}">Are you a teacher?</a>
                            </div>
                        </div>
                        <button class="btn btn-default" type="submit">Sign Up</button>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#file-upload').bind('change', function () {
            var fileName = '';
            fileName = $(this).val();
            $('#file-selected').html('Profile picture selected.');
        });
    </script>
{% endblock %}
</body>
</html>