html {
  min-height: 100%;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/static/images/background.png") no-repeat fixed center center; }

header {
  /* Navigation bar scss.*/
  /* Navigation dropdown scss.*/
  /* Side navigation. */ }
  @media (max-width: 992px) {
    header .navbar-brand {
      top: 30px !important; }
    header .show-detail {
      display: inline-block !important;
      margin-top: 40px !important;
      margin-left: 20px; }
    header .fa-bell {
      margin-left: 5px !important;
      margin-right: 8px; }
    header .dropdown-menu {
      border-color: transparent; }
    header i .fa-caret-down {
      display: inline-block; } }
  header .navbar {
    background: #212D3D !important;
    margin-bottom: 1px !important; }
    header .navbar .navbar-brand {
      /* Used to center any content in the middle of the page.*/
      width: auto;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: 0;
      margin-left: 0;
      transform: translate(-50%, -50%);
      padding: 0;
      margin-top: 0; }
      header .navbar .navbar-brand img {
        max-width: 100px; }
  header .dropdown-toggle:after {
    display: none; }
  header .navbar-collapse ul {
    left: -100px !important; }
    header .navbar-collapse ul li {
      padding: 8px 12px 0;
      font-size: 15px; }
      header .navbar-collapse ul li:nth-last-child(2), header .navbar-collapse ul li:last-child {
        padding: 0 8px; }
      header .navbar-collapse ul li:last-child {
        padding-right: 0; }
      header .navbar-collapse ul li a {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        padding: 0;
        margin: 0;
        color: #06AD7F !important; }
        header .navbar-collapse ul li a:hover {
          color: #fff !important; }
        header .navbar-collapse ul li a .fa-bell {
          font-size: 30px !important;
          padding-top: 8px !important; }
        header .navbar-collapse ul li a .badge {
          background: #e70000;
          font-size: 11px;
          border-radius: 20px;
          position: absolute;
          min-width: 10px;
          padding: 4px 7px 0;
          min-height: 18px;
          top: 2px;
          right: 8px;
          color: #fff; }
          @media (max-width: 991px) {
            header .navbar-collapse ul li a .badge {
              display: none; } }
  header .dropdown .dropdown-menu {
    background-color: #212D3D !important; }
    header .dropdown .dropdown-menu li {
      text-align: left;
      margin-bottom: 20px !important; }
      header .dropdown .dropdown-menu li .fa-user {
        margin-right: 20px !important; }
      header .dropdown .dropdown-menu li .fa-user-plus {
        margin-right: 16px !important; }
      header .dropdown .dropdown-menu li .fa-sign-out-alt {
        margin-left: 5px !important;
        margin-right: 20px !important; }
      header .dropdown .dropdown-menu li .fa-key {
        margin-left: 5px !important;
        margin-right: 20px !important; }
      header .dropdown .dropdown-menu li .fa-book {
        margin-right: 20px !important; }
      header .dropdown .dropdown-menu li .fa-list-alt {
        margin-right: 20px !important; }
      header .dropdown .dropdown-menu li .fa-graduation-cap {
        margin-right: 16px !important; }
  header .dropdown2 .fa-exclamation-circle {
    margin-right: 5px; }
  header .dropdown-menu {
    left: 0 !important; }
  header .dropdown-item:hover {
    background-color: #212D3D !important; }
  header .nav-item img {
    border-radius: 100%;
    width: 40px;
    height: 40px; }
  header .navbar-toggler {
    border-color: #06AD7F !important; }
    header .navbar-toggler:hover {
      color: #ffffff !important; }
  header .fa-angle-double-down {
    color: #06AD7F !important; }
    header .fa-angle-double-down:hover {
      color: #fff !important; }
  header .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -20px;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-right: 1.5px solid #06AD7F; }
  header .sidenav a {
    padding: 8px 8px 8px 42px;
    text-decoration: none;
    font-size: 20px;
    color: #06AD7F;
    display: block;
    transition: 0.3s;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    margin-left: 20px; }
  header .sidenav a:hover {
    color: #f1f1f1; }
  header .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }
  header .fa-bars:hover {
    color: #fff; }
  @media screen and (max-height: 450px) {
    header .sidenav {
      padding-top: 15px; }
    header .sidenav a {
      font-size: 18px; }
    header .navbar-brand {
      top: 0; } }
  header .fa-bars {
    color: #06AD7F;
    font-size: 25px; }
    header .fa-bars:hover {
      color: #fff; }

body {
  background: transparent; }

/* Courses page. */
.container-fluid {
  margin-top: 150px;
  margin-bottom: 100px; }
  .container-fluid .jumbotron {
    background-color: #fff;
    border-radius: 5px; }
    .container-fluid .jumbotron h4 {
      color: #212D3D;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      margin-top: -20px;
      margin-bottom: 10px;
      text-transform: uppercase;
      text-align: center; }
    .container-fluid .jumbotron hr {
      border-color: #212D3D; }
    .container-fluid .jumbotron .left-menu {
      /* Lectures left menu. */
      list-style-type: none; }
      .container-fluid .jumbotron .left-menu li {
        font-family: "Lato", sans-serif;
        padding-bottom: 10px;
        font-size: 18px;
        margin-left: -10px;
        color: #06AD7F; }
        .container-fluid .jumbotron .left-menu li:last-child {
          padding-bottom: 0; }
        .container-fluid .jumbotron .left-menu li span {
          color: #212D3D;
          font-weight: bold;
          margin-right: 5px; }
    .container-fluid .jumbotron ul {
      list-style-type: none; }
      .container-fluid .jumbotron ul #grouper, .container-fluid .jumbotron ul .title p {
        text-transform: uppercase;
        font-family: "Lato", sans-serif;
        color: #212D3D;
        font-size: 20px;
        font-weight: bold; }
      .container-fluid .jumbotron ul .fa-angle-right {
        font-size: 25px;
        margin-right: 5px;
        vertical-align: middle;
        padding-bottom: 3px; }
      .container-fluid .jumbotron ul .title {
        height: 40px;
        border-radius: 10px;
        width: 90%;
        text-align: center;
        background-color: #06AD7F;
        margin-top: 10px;
        margin-bottom: 20px; }
        .container-fluid .jumbotron ul .title:hover {
          cursor: pointer;
          background-color: #212D3D; }
        .container-fluid .jumbotron ul .title p {
          font-size: 16px;
          text-align: left;
          margin-left: 10px;
          padding-top: 5px;
          color: #fff;
          text-transform: none; }
          .container-fluid .jumbotron ul .title p span {
            margin-left: 1%; }
      .container-fluid .jumbotron ul #lecture-hide {
        /* Lecture content hide/show. */
        border: 2px solid #212D3D;
        border-radius: 5px;
        margin-top: 20px;
        width: 90%;
        margin-bottom: 20px; }
        .container-fluid .jumbotron ul #lecture-hide h5 {
          color: #212D3D;
          font-family: "Lato", sans-serif;
          font-weight: bold;
          margin-bottom: 10px;
          text-transform: uppercase;
          margin-left: 5%;
          margin-top: 0; }
        .container-fluid .jumbotron ul #lecture-hide p {
          margin-left: 5%;
          margin-top: 2%;
          font-size: 16px;
          font-family: "Montserrat", sans-serif; }
        .container-fluid .jumbotron ul #lecture-hide .media {
          margin-left: 5%;
          color: #06AD7F;
          margin-bottom: 10px; }
        .container-fluid .jumbotron ul #lecture-hide #files {
          margin-left: 5%;
          font-weight: bold; }
        .container-fluid .jumbotron ul #lecture-hide .fa-download {
          margin-right: 2%;
          vertical-align: middle;
          font-size: 20px; }
    .container-fluid .jumbotron form {
      /* Form submission. */
      border: 2px solid #212D3D;
      border-radius: 5px;
      width: 40vmax;
      text-align: center;
      margin: 20px auto; }
      .container-fluid .jumbotron form .custom-file-upload {
        border: 1.5px solid #212D3D;
        border-radius: 5px;
        height: 35px;
        cursor: pointer;
        padding-top: 4px;
        width: 200px;
        font-family: "Lato", sans-serif; }
        .container-fluid .jumbotron form .custom-file-upload:hover {
          color: #06AD7F;
          border-color: #06AD7F; }
        .container-fluid .jumbotron form .custom-file-upload .fa-cloud-upload-alt {
          text-align: left !important;
          margin-left: 0;
          margin-right: 5%; }
      .container-fluid .jumbotron form h3 {
        color: red;
        text-align: center;
        margin: 5px 5px 20px; }
      .container-fluid .jumbotron form .comment {
        border-radius: 5px;
        border: 1.2px solid #212D3D;
        height: 35px;
        padding-left: 10px;
        margin-top: 20px;
        width: 200px; }
      .container-fluid .jumbotron form .btn-default {
        /* Used to style any button this way. */
        border: 1.5px solid #06AD7F;
        color: #06AD7F;
        background-color: #212D3D;
        font-size: 16px;
        margin-bottom: 30px;
        margin-top: 10px; }
        .container-fluid .jumbotron form .btn-default:hover {
          border: 1.5px solid #212D3D;
          color: #212D3D;
          background-color: #06AD7F; }
    .container-fluid .jumbotron .row .col-md-6 div {
      border: 1.5px solid #06AD7F;
      border-radius: 5px; }
      .container-fluid .jumbotron .row .col-md-6 div p {
        text-align: center;
        margin: auto auto; }

/*# sourceMappingURL=courses.css.map */
