<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
    <div class="container-fluid">
        <h1>Hey there!</h1><br/>
        {% if request.user.is_authenticated %}
            <p>Welcome, {{ user.student.surname  }} {{ user.teacher.surname  }}. Thanks for logging in.</p>
        {% else %}
            <p>Welcome, new user. Please log in.</p>
        {% endif %}
        <img style="width:40%;" src="{% static "images/otter.jpg" %}"><br/>
        <a href="{% url "courses:index" %}">Courses</a><br/>
        <a href="{% url "student_signup" %}">Student Sign Up</a><br/>
        <a href="{% url "teacher_signup" %}">Teacher Sign Up</a><br/>
        <a href="{% url "login" %}">Log In</a><br/>
        <a href="{% url "logout" %}">Log Out</a><br/>
        <small>
            <a href="{% url 'password_reset' %}" class="text-muted">Forgot your password?</a>
        </small>

    </div>
{% endblock %}
</body>
</html>