<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
    <div class="container-fluid">
        <h1>Hey there!</h1><br/>
        {% if user.is_authenticated %}
            {% if user.is_student %}
                <p>Welcome, {{ user.student.name }}. Thanks for logging in.</p>
            {% elif user.is_teacher %}
                <p>Welcome, {{ user.teacher.name }}. Thanks for logging in.</p>
            {% else %}
                <p>Welcome, Boss. Thanks for logging in.</p>
            {% endif %}
        {% else %}
            <p>Welcome, stranger. Please sign up or log in.</p>
        {% endif %}
        <img style="" src="{% static "images/eve.jpg" %}"><br/>
        <a href="{% url "courses:index" %}">Courses</a><br/>
        <a href="{% url "student_signup" %}">Student Sign Up</a><br/>
        <a href="{% url "teacher_signup" %}">Teacher Sign Up</a><br/>
        {% if not user.is_authenticated %}
            <a href="{% url "login" %}">Log In</a><br/>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url "logout" %}">Log Out</a><br/>
            {% if not user.is_superuser %}
            <a href="{% url "profile_edit" %}">Edit Profile</a><br>
                {% endif %}
        {% endif %}
        <small>
            <a href="{% url 'password_reset' %}" class="text-muted">Forgot your password?</a>
        </small>

    </div>
{% endblock %}
</body>
</html>