<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block style %}
        <link href="{% static "sass/classroom.css" %}" rel="stylesheet">
    {% endblock %}
    <title>{% block title %}Classroom{% endblock %}</title>
</head>
<body>
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2">
                <div class="jumbotron">
                    <button class="btn btn-default menu1 center-block">My Courses</button>
                    <button class="btn menu2 btn-default">Add Lecture</button>
                    <button class="btn menu3 btn-default">Delete Lecture</button>
                    <button id="btn2" class="btn menu6 btn-default">Create Upload</button>
                    <button id="btn2" class="btn menu4 btn-default">Files Submitted</button>
                    <button id="btn2" class="btn menu5 btn-default">Notifications</button>
                </div>
            </div>
            <div class="col-xl-10">
                <div class="jumbotron">
                    <h4>Classroom</h4>
                    <hr>
                    <ul class="enroll">
                        {% for data in teacher_data %}
                            {% if data.teacher_ID == user.teacher.teacher_ID %}
                                {% for course in courses %}
                                    {% if course.teacher1 == data or course.teacher2 == data %}
                                        <div class="title">
                                            <p>
                                                <a href="{% url 'enroll' slug=course.slug %}">
                                                    {{ course.name }}:<span> Enroll/Disenroll Students </span>
                                                </a>
                                            </p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <ul class="lectures" style="display: none;">
                        {% for data in teacher_data %}
                            {% if data.teacher_ID == user.teacher.teacher_ID %}
                                {% for course in courses %}
                                    {% if course.teacher1 == data or course.teacher2 == data %}
                                        <h5><i class="fas fa-angle-right"></i>{{ course.name }}</h5>
                                        {% for lecture in lectures %}
                                            {% if lecture.course == course %}
                                                <li>
                                                    <p>Lecture: {{ lecture.lecture_title }}</p>
                                                    <form action="{% url 'courses:lecture_delete' lecture.pk %}"
                                                          method="post">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </form>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <form style="display: none" method="post" class="form2" enctype=multipart/form-data>
                        {% if messages %}
                            <p class="messages">
                                {% for message in messages %}
                                    <span{% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</span>
                                {% endfor %}
                            </p>
                        {% endif %}
                        {% csrf_token %}
                        <h5 style="text-align: center; margin-bottom:20px;">ADD LECTURE</h5>
                        {{ form1.course }}<br>
                        {{ form1.lecture_category }}<br>
                        {{ form1.lecture_title }}<br>
                        {{ form1.content }}<br>
                        {{ formset.management_form }}
                        {% for form in formset %}
                            <label id="file" for="file-upload" class="custom-file-upload">
                                <i class="fas fa-cloud-upload-alt"></i> File Upload
                            </label><br>
                            <span class="selected" id="file-selected"></span>
                            <input id="file-upload" name='files' type="file" style="display:none"/> <br>
                        {% endfor %}
                        <br>
                        <button class="btn btn-default btn2" type="submit">Add</button>
                    </form>
                    <div class="all-uploads" style="display: none;">
                        {% for data in teacher_data %}
                            {% if data.teacher_ID == user.teacher.teacher_ID %}
                                {% for course in courses %}
                                    {% if course.teacher1 == data or course.teacher2 == data %}
                                        <h5><i class="fas fa-angle-right"></i>{{ course.name }}</h5>
                                        <br>
                                        {% for upload in uploads %}
                                            {% if upload.course == course %}
                                                <div class="uploads">
                                                    <p class="message">
                                                        <a href='{{ MEDIA_URL }}{{ upload.files.url }}'>
                                                            <i class="fas fa-download"></i> {{ upload.files }}</a></p>
                                                    <br>
                                                    <p class="message">Message: {{ upload.comment }}
                                                    <p class="message"> Uploaded
                                                        By: {{ upload.user.student.name }} {{ upload.user.student.surname }}
                                                    <form class="form3" method="POST"
                                                          action="{% url "courses:upload_update" upload.pk %}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-danger" name="action"
                                                                value="delete">DELETE
                                                        </button>
                                                        <button type="submit" class="btn btn-warning" name="action"
                                                                value="show_again">SHOW AGAIN
                                                        </button>
                                                    </form>
                                                    <br>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="not1">
                        <form class="notifications not1" style="display: none;" method="POST">
                            {% csrf_token %}
                            <p class="messages">
                                {% for message in messages %}
                                    <span{% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</span>
                                {% endfor %}
                            </p>
                            <h5 style="text-align: center">Create Notification</h5>
                            <p class="field">{{ form2.course }}</p>
                            <p class="field">{{ form2.notification }}</p>
                            <button class="btn btn-default" type="submit">Post</button>
                        </form>
                        <div class="delete-notes not1"  style="display: none;">
                            <h5><i class="fas fa-angle-right"></i>Active Notifications</h5>
                            {% for note in notifications %}
                                <form method="POST" action="{% url "courses:not_delete" note.pk %}">
                                    {% csrf_token %}
                                    <b> {{ forloop.counter }}. {{ note.notification }} </b>
                                    <button type="submit" class="btn btn-danger" value="DELETE">Delete</button>
                                </form>
                            {% endfor %}
                        </div>
                    </div>
                    <form class="notifications not2" style="display: none;" method="POST">
                        {% csrf_token %}
                        <p class="messages">
                            {% for message in messages %}
                                <span{% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</span>
                            {% endfor %}
                        </p>
                        <h5 style="text-align: center">Open File Submission</h5>
                        <p class="field">{{ form3.course }}</p>
                        <p class="field">{{ form3.notification }}</p>
                        <button style="width:200px;" class="btn btn-default" type="submit" name="action"
                                value="activate_upload">Activate
                            upload
                        </button>
                        <button style="width:200px;" class="btn btn-default" type="submit" name="action"
                                value="deactivate_upload">Deactivate
                            upload
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#file-upload').bind('change', function () {
            var fileName = '';
            fileName = $(this).val();
            $('#file-selected').html(fileName.split(/(\\|\/)/g).pop());
        });
        $(document).ready(function () {
            $('.menu3').click(function () {
                $('.lectures').show();
                $('.enroll').hide();
                $('.form2').hide();
                $('.all-uploads').hide();
                $('.not1').hide();
                $('.not2').hide();
            });
            $('.menu2').click(function () {
                $('.form2').show();
                $('.enroll').hide();
                $('.all-uploads').hide();
                $('.lectures').hide();
                $('.not1').hide();
                $('.not2').hide();
            });
            $('.menu1').click(function () {
                $('.form2').hide();
                $('.enroll').show();
                $('.lectures').hide();
                $('.all-uploads').hide();
                $('.not1').hide();
                $('.not2').hide();
            });
            $('.menu4').click(function () {
                $('.form2').hide();
                $('.enroll').hide();
                $('.lectures').hide();
                $('.all-uploads').show();
                $('.not1').hide();
                $('.not2').hide();
            });
            $('.menu5').click(function () {
                $('.form2').hide();
                $('.enroll').hide();
                $('.lectures').hide();
                $('.all-uploads').hide();
                $('.not1').show();
                $('.not2').hide();
            });
            $('.menu6').click(function () {
                $('.form2').hide();
                $('.enroll').hide();
                $('.lectures').hide();
                $('.all-uploads').hide();
                $('.not1').hide();
                $('.not2').show();
            });
        });
    </script>
{% endblock %}
</body>
</html>
