<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    {% block style %}
        <link href="{% static 'sass/index.css' %}" rel="stylesheet">
    {% endblock %}
    <meta charset="UTF-8">
    <title>{% block title %}Courses{% endblock %}</title>
</head>
<body>
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <div class="jumbotron">

                    <!-- courses filters -->

                    <form method="GET" action="">
                        <input class="txt" type="text" name="q" value="{{ request.GET.q }}"
                               placeholder="Search course...">
                        <button class="btn btn-default" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                    <br>
                    <ul>
                        {% for faculty in faculties %}
                            {% for department in faculty.department_set.all %}
                                <li>
                                    <a href="{% url 'courses:faculty_filter' slug=faculty.slug %}">
                                        <i class="fas fa-caret-right"></i>{{ faculty.name }}</a>
                                </li>
                            {% endfor %}
                            <br>
                        {% endfor %}
                    </ul>

                    <!-- courses filters end -->

                </div>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="jumbotron" style="">
                    <h4>All courses</h4>
                    <br>

                    <!-- the courses table -->

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">ECTS</th>
                            <th class="study-hide" scope="col">Studies</th>
                            <th scope="col">Teacher</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for course in courses %}
                            <tr>
                                <td>
                                    <a href="{% url 'courses:courses' slug=course.slug %}">
                                        <i class="fas fa-arrow-circle-right"></i>{{ course.name }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'courses:courses' slug=course.slug %}">
                                        {{ course.ects }}
                                    </a>
                                </td>
                                <td class="study-hide">
                                    <a href="{% url 'courses:courses' slug=course.slug %}">
                                        {{ course.study_programme }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'courses:courses' slug=course.slug %}">
                                        {% for tch in teachers %}
                                            {% if course.teacher1.teacher_ID == tch.teacher_ID %}
                                                {{ tch.academic_title }}
                                            {% endif %}
                                        {% endfor %}
                                        {{ course.teacher1.name }}<br>
                                        {{ course.teacher1.surname }}
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td>
                                    <h5 style="color: #06AD7F;"> No courses yet.</h5>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <!-- the courses table end -->

                    <div class="text-xs-center">
                        <div class="pagination text-center">
                            <span class="step-links">
                             {% if courses.has_previous %}
                                 <a href="?page=1"><< FIRST</a>
                                 <a href="?page={{ courses.previous_page_number }}">PREVIOUS</a>
                             {% endif %}
                                <span class="current">
                              {{ courses.number }}
                               </span>
                                {% if courses.has_next %}
                                    <a href="?page={{ courses.next_page_number }}">NEXT</a>
                                    <a href="?page={{ courses.paginator.num_pages }}">LAST >></a>
                                {% endif %}
                          </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.btnClick').on('click', function () {
                var faculty_id = $(this).attr('id');
                $('#' + faculty_id + '_tab').show().siblings('div').hide();
            });
        });
    </script>
{% endblock %}
</body>
</html>